

/* general settings */
.full-page-hero{
	height:100%;
}

.lp-template .navbar-quizlabs{
	height:80px;
	border-radius:0;
	margin-bottom:0 !important
}

.lp-template .navbar-quizlabs .navbar-brand{
	margin-top:5px;
}

.lp-template .navbar-quizlabs .navbar-brand img{
	height:50px;
}

.lp-template .navbar-quizlabs .navbar-nav{
	margin-top:10px;
}

.lp-template .nav-info{
	color:white;
	font-size:20px;
	margin-top:25px;
	text-align:right;
}

.lp-template #hero{
	margin-top:0 !important;
	background-color:white;
	padding-top:40px;
}

.lp-template #hero h1{
	color:#333;
	margin-bottom:40px;
}

.lp-template #hero p{
	font-size:16px;
	line-height:33px;
}

.lp-template #footer{
	padding-top:30px;
	padding-bottom:20px;

}

.lp-template #footer .social-icons{
	margin-top:10px;
}

.lp-template #footer .social-icons a{
	margin-left:10px;
	margin-right:10px;
}

.lp-template #footer .copyright{
	margin-top:15px;
}

.lp-template #footer{
	background-color:#0e76bc
}

.lp-template #footer .copyright{
	color:white;
}

.lp-template #footer a{
	color:#c8f5f4;
}

.lp-template #footer a:hover{
	text-decoration:underline
}

/* template 1 */
.lp-template-1{
	background-color:white;
}

.lp-template-1 .navbar-quizlabs{
	background-color:#2196f3;
}

.lp-template-1 .nav-info{
	color:white;
}

.lp-template-1 #footer{
	background-color:#2196f3
}

.lp-template-1 #footer .copyright{
	color:white;
}

.lp-template-1 #footer a{
	color:#c8f5f4;
}

.lp-template-1 #footer a:hover{
	text-decoration:underline
}

.lp-template-1 .btn-cta{
	border: 4px solid #f1c600 !important;
	border-radius: 60px !important;
	color: #333 !important;
	background: #f1c600 !important;
	padding:20px 40px !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

.lp-template-1 .btn-cta:hover{
	background: #d8b200 !important;
	border: 4px solid #d8b200 !important;
	color: #333
}

/* template 2 */
.lp-template-2{
	background-color:white;
	background-image:url('../img/landing-pages/template2/bg.jpg');
	background-size:cover;
}

.lp-template-2 .cover.active{
	background:rgba(0,0,0,.9);
	height:100%;
	width:100%;

}

.lp-template-2 .btn-cta{
	border: 1px solid #05668f !important;
	border-radius: 5px !important;
	color: #ffffff !important;
	background: #06719F !important;
	font-size:23px !important;
	padding:10px 30px !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

.lp-template-2 .btn-cta:hover{
	background: #0897d4 !important;
	border: 1px solid #06719F !important;
	color: #ffffff
}

.lp-template-2 a{
	color:#05668f;
}

/* template 3 */
.lp-template-3{
	background-color:white;
	background-image:url('../img/landing-pages/template3/bg.jpg');
	background-size:cover;
	background-position-y:-150px;
}

.lp-template-3 .cover-white.active{
	background:rgba(255,255,255,.3);
	height:100%;
	width:100%;
}

.lp-template-3 .btn-cta{

	border-radius: 5px !important;
	color: #333 !important;
	background: #D9D234 !important;
	font-size:20px !important;
	padding:15px 40px !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

.lp-template-3 .btn-cta:hover{
	background: #f5ed3b !important;
	color: #333
}

/* template 4 */
.lp-template-4 .text-blue{
	color:#0e76bc !important
}

.lp-template-4 .text-green{
	color:#39b54a !important
}

.lp-template-4 #hero{
	background-color:#f3f3f3
}

.lp-template-4 #lpLogo{
	border:4px solid #0e76bc;
	height:80px;
	border-radius:10px;
}

.lp-template-4 .btn-cta{
	border-radius: 60px !important;
	color: #ffffff !important;
	background: #39b54a !important;
	font-size:26px !important;
	padding:20px 50px !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
	text-transform:uppercase;
	letter-spacing:1px;
}

.lp-template-4 .btn-cta:hover{
	background: #40cb53 !important;
	color: #333
}

.lp-template-4 .bg-mint{
	background-color:#f0fff2;
}

.lp-template-4 .the-testimonial{
	padding:30px;
}

.lp-template-4 .the-testimonial .testimonial-content img{
	height:40px;
	width:auto;
}

.lp-template-4 .the-testimonial .testimonial-content{
	/* background-image:url('../img/quote.png');
	background-repeat:no-repeat; */
}

.lp-template-4 .the-testimonial .testimonial-content p{
	font-size:15px;
}

.lp-template-4 .the-testimonial .testifier{
	font-weight: normal;
}

.lp-template-4 .nav-info{
	color:white;
}

/* webinar */
#webinarLandingPage #lpLogo{
	border:3px solid #0e76bc;
	height:60px;
	border-radius:10px;
}

#webinarLandingPage #hero{
	background-color: #ffffff;
}

#webinarLandingPage .btn-orange{
	background: #f7941d !important
}

#webinarLandingPage .btn-orange:hover{
	background: #e78a1b !important;
}

#webinarLandingPage .the-testimonial .testimonial-content img{
	height:100px;
}


.device-viewer {
  /*background: url(https://design.google.com/devices/images/device-mobile.svg);
  height: 1280px;
  background-size: 200%;
  background-position: 50% 15%;*/
  height: 720px;
  margin: -15px;
  background-color: white;
}
.device-viewer::after {
  border-image: url(https://design.google.com/devices/images/device-mobile.svg);
  border-image-slice: 34 80 34 80;
  border-image-repeat: repeat;
  border-style: solid;
  border-width: 34px 80px;
  top: -34px;
  bottom: -34px;
  left: -80px;
  right: -80px;
  margin: 0 10px;
  content: "";
  position: absolute;
}

#landingPageContainer {

  margin: 0 15px;
}
.device-viewer #landingPageContainer {
  height:720px;
  margin: 15px;
  zoom: 65%;
}

.landing-col {
  min-height: 100px;
  padding:30px;
}
.landing-col-video {
  padding:0px;
}

.landing-image-container {
  width:100%;
  text-align: center;
}
.landing-video-container {
  width:100%;
  text-align: center;
  min-height: 360px;
}
.landing-video-container>div {
  margin: 0 auto;
}
.landing-quiz-container {
  width:100%;
  text-align: center;
  min-height: 300px;
}
.landing-button-container {
  width:100%;
  text-align: center;
}
.landing-button-container .btn-cta {
  border: 4px solid;
  border-radius: 60px !important;
  padding: 20px 40px !important;
}
.landing-quiz-container .btn-cta {
  border: 4px solid #f1c600 !important;
  border-radius: 60px !important;
  color: #333 !important;
  background: #f1c600 !important;
}

fieldset.fieldset-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}
legend.fieldset-border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}
fieldset .fr-view .container {
  width: 100% !important;
  overflow: hidden;
}
fieldset .fr-view .lp-template {
  overflow: hidden;
}
#landingPageContainer .fr-view .container {
  width: 100% !important;
}

.lp-template {
  margin: -30px;
}


label.template-radio {
  width: 320px;
  height: 320px;
  overflow: hidden;
  margin: 10px;
}
label.template-radio > div {
  overflow: hidden;
  zoom: 33%;
  padding:18px;
  z-index:-100;
  height: 100%;
}

label.template-radio > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.template-radio > input + div{ /* IMAGE STYLES */
  cursor:pointer;
  border:12px solid silver;
  border-radius: 2%;
}
label.template-radio > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:12px solid #f00;
}


/* form checkout */
.form-section{
	-webkit-box-shadow: 0px 0px 10px -3px rgba(14,118,188,1);
	-moz-box-shadow: 0px 0px 10px -3px rgba(14,118,188,1);
	box-shadow: 0px 0px 10px -3px rgba(14,118,188,1);
	border-radius:5px;
}

h3.form-section-title{
	background-color:#0e76bc;
	color:white;
	text-transform:uppercase;
	font-size:30px;
	padding:10px 20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

h3.form-section-title span.step-number{
	background-color:white;
	color:#0e76bc;
	vertical-align:middle;
	border-radius:50%;
	width:40px;
	height:40px;
	text-align:center;
	display:inline-block;
	margin-right:20px;
}

.form-section-fields{
	padding:40px;
	padding-bottom:40px;
}